.main_container {
  width: 50%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
background: rgba(255, 255, 255, 0.05);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

   scroll-behavior: smooth;
    overflow-y: auto;
}
.comments-list{
  margin-top: 10px;
}
.sub_container{
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    scroll-behavior: smooth;
}
